html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

@font-face {
    font-family: 'WinXP';
    src: url('https://jy738.github.io/webxp/win.ttf') format('opentype');
}
.icon {
  width: 40px;
  height: 40px;
  background-color: rgba(56, 142, 255, 0.7);
  position: absolute;
  font-family: 'WinXP';
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0,0.8);
}

.window_main {
  position: absolute;
}

.bla {
  box-shadow:  -2px 0px 10px rgb(255, 255, 255,0.6) inset, -2px 0px 10px rgb(0, 2, 66,0.5) inset;
}

.titlebar {
  background: rgb(42,40,73);
  background: linear-gradient(360deg, rgba(42,40,73,1) 0%, rgba(79,138,172,1) 2%, rgba(148,165,172,1) 9%, rgba(118,157,187,1) 12%, rgba(105,190,187,1) 30%, rgba(124,195,208,1) 50%, rgba(56,133,158,1) 64%, rgba(53,144,174,1) 72%, rgba(255,255,255,1) 100%);
  height: 32px;
  background-position: 0px -3px;
  width: 98.8%;
  border-style: solid;
  display: flex;
  border-color: rgba(0,0,0,0.0);
  border-radius: 6px 6px 6px 6px;
}

.emblem {
  width: 40px;
  height: 40px;
  position: relative;
  left: 20%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  user-select: none;
}

.title {
  position: relative;
  top: -15px;
  left: 30px;
  font-size: 18px;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  text-shadow: 2px 2px 0px rgb(0, 0, 0,0.4);
  user-select: none;
}

.body {
  position: relative;
  left: 60%;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 62%;
  height: 36%;
  color: black;
  font-family: 'WinXP';
  font-size: 18px;
  user-select: none;
  overflow-wrap: break-word;
  background-color: rgba(0,0,0,0.0)
}

::placeholder {
  font-family: 'WinXP';
  color: rgba(0,0,0,0.4);
  font-size: 16px;
}

.window_box {
  position: relative;
  top: -6px;
  background-color: #5a8aaa;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 8px rgb(255, 255, 255,0.99) inset;
}

.choice {
  position: relative;
  left: 30%;
  width: max-content;
  max-width: 300px;
  height: auto;
  top: -20%;
}

button {
  min-width: 70px;
  min-height: 23px;
  background-color: white;
  font-family: 'WinXP';
  font-size: 16px;
  box-shadow: -1px -1px 2px 1px rgb(122, 180, 255,0.7) inset;
  border-style: solid;
  border-color: #6e8096;
  border-width: 1px;
  border-radius: 3px;
  user-select: none;
}

button:hover {
  box-shadow: -1px -1px 2px 2px rgb(165, 207, 233,0.6) inset;
  border-color: #aac2df;
}

button:active {
   background-color: #d9d9d9;
   border-color: #4e5d6e;
   box-shadow: -1px -1px 2px 2px rgb(71, 102, 144,0.6) inset;
}

.window_cont {
  width: 98%;
  height: 98%;
  background-color: white;
  position: relative;
  font-family: 'WinXP';
  left: 50%;
  top: 49%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#overlay {
  font-family: 'WinXP';
  font-size: 20px;
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9999;
}
#window_area {
  visibility:hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}
#start {
  background-image: url('https://jy738.github.io/webxp/bluepanel/start.png');
  width: 97px;
  height: 30px;
  background-position: 0px 0px;
  position: absolute;
  left: 0;
  top: 85%;
}



#start:hover {
  background-position: 0px -33px;
}

#start:active {
  background-position: 0px -66px;
}

.x {
  background-position-y: 0px;
  position: absolute;
  right: 0%;
  top: 8%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url('https://jy738.github.io/webxp/close.png');
  width: 21px;
  height: 21px;
  filter: hue-rotate(163deg);
}

.x:hover {
  background-position-y: -21px;
}

.x:active {
  background-position-y: -42px;
}

.taskbar {
  background-image: url('https://jy738.github.io/webxp/taskbar.png');
  filter: hue-rotate(10deg);
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 3%;
}
/* ------- */

#login{
  background-color: #54bfe3;
}

#top_bar, #bottom_bar{
  background-color: #006f9e;
}
#top_bar div{
  background: linear-gradient(to right, #03599b, rgb(173, 250, 255, 0.85) 25%, rgba(0,0,0,0));
}
#bottom_bar{
  background: linear-gradient(to right, #3452ad, #007e9e);
}
#bottom_bar div{
  background: linear-gradient(to right, #03829b, #f237f6 25%, rgba(0,0,0,0));
}

#card_login{
  background: linear-gradient(to right, #002aa8 0% 30%, #51c2c0);
}

#readme_block{
  color: #444444;
}

#content{
  background-color: #2c4b7d;
}

#logo_login {
  content:url('https://jy738.github.io/webxp/bluepanel/logo_login.png);
}

#chatbar_cont{
  background-image: url('https://jy738.github.io/webxp/taskbar.png');
  filter: hue-rotate(10deg);
  height: 30px;
  width: 100%;
}

#chatbar{
  position: absolute;
  top: 3px;
  font-size: 15px;
  width: calc(100% - 132px);
}
#tile{
  background-image: url(/img/tile.png), linear-gradient(to right, #488f99 7%, rgba(0,0,0,0) 12% 88%), linear-gradient(to bottom, #488f99 7%, rgba(0,0,0,0) 12% 88%, #486799 93% 100%);
  background-color: #2e727f;
}



#log_cont, .msWindow_cont{
  background-color: #335a99;
}

body{
  background: rgb(42,40,73);
  background: linear-gradient(360deg, rgba(42,40,73,1) 0%, rgba(52,108,141,1) 2%, rgba(202,207,209,1) 9%, rgba(105,190,187,1) 30%, rgba(44,171,214,1) 66%, rgba(65,173,212,1) 66%, rgba(255,255,255,1) 100%);
}
